* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #000000;
}

header {
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 73px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

header h1 {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 530px;
    margin-right: 529px;
    width: 221px;
    height: 59px;
    text-align: left;
    font: 50px/59px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.iguanagigante {
    top: 73px;
    left: 0px;
    width: 1280px;
    height: 727px;
    background-color: #000000;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.iguanagigante img {
    width: 1280px;
    height: 727px;
}

main {
    top: 800px;
    left: 0px;
    width: 1280px;
    height: 348px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

.textum {
    margin-top: 76px;
    margin-bottom: 75px;
    margin-left: 150px;
    margin-right: 106px;
    width: 475px;
    height: 197px;
    text-align: left;
    font: 16px/19px Raleway;
    color: #FFFFFF;
    opacity: 1;
    display: inline-block;
}

.img1 {
    width: 399px;
    height: 237px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    display: inline-block;
}

.img1 img {
    width: 399px;
    height: 237px;
}

section {
    width: 1280px;
    height: 348px;
    background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 0.98;
    color: #FFFFFF;
    display: block;
    text-align: center;
}

section h2 {
    margin-top: 75px;
    margin-bottom: 226px;
    font: 40px Raleway;
    letter-spacing: 0px;
    opacity: 1;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.icon {
    padding: 1.5%;
    display: inline-block;
    text-align: center;
    font: 25px/30px Raleway;
}

.icon i {
    width: 57px;
    height: 37px;
    display: block;
}

.icon2 {
    padding: 1.5%;
    display: inline-block;
    font: 25px/30px Raleway;
}

.icon2 i {
    width: 39px;
    height: 56px;
    display: block;
}

.icon3 {
    padding: 1.5%;
    display: inline-block;
    font: 25px/30px Raleway;
}

.icon3 i {
    width: 41px;
    height: 49px;
    display: block;
}

.photos {
    margin-left: 150px;
    margin-right: 150px;
    width: 1280px;
    height: 348px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.96;
    text-align: left;
}

.photos img {
    margin: 8px;
    margin-top: 73px;
    margin-bottom: 73px;
    width: 300px;
    height: 180px;
    display: inline-block;
}

footer {
    width: 1280px;
    height: 102px;
    background: #1E1A13 0% 0% no-repeat padding-box;
    opacity: 0.94;
    font: 20px/24px Raleway;
}

footer p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 39px;
    margin-bottom: 39px;
    margin-left: 250px;
    margin-right: 250px;
    width: 682px;
    height: 24px;
    color: #FFFFFF;
    opacity: 1;
    display: inline;

}

footer p a {
    color: #FFFFFF;
}