/*style.css*/
.body{
    font-family: sans-serif;
}
.header{
    height: 10em;
    padding: 5em;
    font-size: 2em;
    text-shadow: 1px 1px #bd9898;
    text-align: center;
    line-height: 2em;
    color: rgb(241, 151, 151); 
    background-image: url(../imgs/255786149_4466298883457896_237099430216710012_n.jpg);    
    background-size: cover;
    background-position: center;
}
.header h1{
    background-color: bisque;
    margin:0px;
    font-weight: 400;
}
.header p {
    background-color: mediumorchid;
    text-align: center;
    width: 50rem;
}
.subnombre {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
    color: blanchedalmond;
    background-color: mediumorchid;
}
.products{
    width: 100%;
    margin:auto;
}
.products td{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;
font-size: 2rem;
width: 50%;
padding:2em;
background-color: rgb(250, 212, 212);
}
.products img{
    width: 80%;
    border:solid 1px #ddd;
}
.footer{
    height: 3em;
    line-height: 3em;
    background-color: rgb(241, 175, 241);
    color: white;
    text-align: center;
    font-weight: 1000;
}