/* header */
header {
    background-color: #000001;
    color: rgb(214, 214, 214);
    text-align: end;
    background-image: url('../img/yariprofe.jpg');
    background-size: cover;
    height: 30rem;
    text-shadow: #9797a8 2px 2px;
}

/* section 1 */

section {
    background-color: #191c20f7;
    color: rgb(196, 195, 195);
    padding: 20px;
    text-align: center;
}

/* experiencia laboral */
article {
    padding: 20px;
    background-color: #dde4eff7;
    color: rgb(85, 84, 84);
    text-align: justify;

}

/* Cards */
.trabajos {
    background-color: #49505736;
    color: grey;
}

.col {
    width: fit-content
}

.card-img-top {
    background-position: center;
    height: 300px;
    width: 250px;
}

.img-top {
    background-position: center;
    height: 300px;
    width: 250px;  
}
.entretencion {
    align-items: center;
}
/*formulario*/
.container-fluid bg-secondary {
    margin-top: 0px;

}

.form-label {
    color: rgb(196, 195, 195);

}

/* footer */
footer {
    background-color: #000001;
    color: azure;
    text-align: center;
}