/* breakpoint mobile */
@media (max-width: 576px) {

    body {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Raleway', sans-serif;
        width: 100%;
        background-color: #2d0b30;
    }

    /* grid-area*/
    .navbar {
        background-color: #2d0b30;
        color: #e2c4e5;
        height: 4rem;
        width: 100%;
        margin-block-start: 0;
        margin-block-end: 0;
        justify-items: left;
    }

    /*select */
    section {
        grid-area: section;
        width: 100%;
        color: #fff;
        margin: 5px;
        height: 8rem;
        justify-items: center;
        text-align: center;
        flex-direction: row;
    }

    select {
        width: 80%;

    }

    /*menu*/
    .menu a {
        color: inherit;
        text-decoration: none;
        display: flex;
        padding: 10px 20px;
        background: #2d0b30;
        font-variant: small-caps;
        text-shadow: 1px 1px black;
    }

    .menu input[type="checkbox"],
    .menu .fa-bars {
        position: absolute;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
    }

    .menu .fa-bars {
        font-size: 40px;
        pointer-events: none;
    }

    .menu input[type="checkbox"] {
        opacity: 0;
        margin: 10px;
        padding: 10px;
    }

    .menu {
        color: white;
        background: #2d0b30;
        min-height: 40px;
    }

    .menu nav {
        display: none;
    }

    .menu input:checked~nav {
        display: block;
    }

    .menu input:checked~.fa-bars {
        display: none;
    }


    /*grid*/
    .grid-items {
        background: #e2c4e5;
        grid-area: grid-items;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-items: center;
        display: grid;
        width: 100%;
    }

    .grilla {
        background-color: #f6e3f8;
        width: 100%;
        height: 500px;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: #aeaaaa 1px solid;
        gap: 1px;
    }

    /* img */
    .grilla img {
        border: #565350 solid 1px;
        width: 18rem;
        height: 21rem;
        gap: 2px;
        border-radius: 10%;
        margin-top: 5px;
    }

    /* texto grilla*/
    .grilla p {
        color: #2b2929;
        font-weight: lighter;
    }

    .grilla h4 {
        color: #565350;
        font-weight: 800;

    }

    /* botón*/
    .btn {
        color: #e2c4e5;
        background: #981fa5;
        border-radius: 10%;
        width: 50%;
        padding: 0%;
    }

    .paginacion {
        margin: 20px 0;
        grid-area: paginacion;
    }

    .paginacion ul {
        list-style: none;
        text-align: center;
    }

    .paginacion ul li {
        display: inline-block;
        margin-right: 10px;
    }

    .paginacion ul li a {
        display: block;
        padding: 5px 10px;
        color: #fff;
        background: #560259;
        text-decoration: none;
    }

    .paginacion ul li a:hover {
        background: #8c035e;
    }

    .paginacion ul li .active {
        background: #9526c1;
        font-weight: bold;
    }

    /* footer */
    .footer {
        grid-area: footer;
        font-weight: lighter;
        background-color: #F29EFB;
        display: flex;
        font-size: 15px;
        flex-direction: row;
        height: 5rem;
        color: #565350;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .container {
        display: grid;
        grid-template-areas:
            "navbar""menu"
            "section"
            "grid-items"
            "paginacion"
            "footer";
        gap: 5px;
        width: 100%;
        margin: 0;
        border: 1px solid #000;
        color: #aeaaaa;
        text-align: center;
        justify-items: center;
    }
}

/* DESKTOP*/
@media (min-width: 576px) {
    body {
        font-family: 'Raleway', sans-serif;
        background-color: #2d0b30;
        width: 100%;

    }

    /* grid-area*/
    .navbar {
        grid-area: navbar;
        color: #c2c0be;
        width: 20%;
        display: inline-block;
    }

    /*menu*/
    .menu {
        grid-area: menu;
        background-color: #2d0b30;
    }

    .menu a {
        color: inherit;
        text-decoration: none;
        display: flex;
        padding: 10px 20px;
        background: #2d0b30;
        font-variant: small-caps;
        text-shadow: 1px 1px black;
    }

    .menu input[type="checkbox"],
    .menu .fa-bars {
        position: absolute;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        visibility: hidden;
    }

    /*select */
    section {
        grid-area: section;
        width: 100%;
        height: 8rem;
        color: #fff;
        justify-items: center;
        text-align: center;
        flex-direction: row;
        background-color: #8c035e;
    }

    select {
        width: 80%;

    }

    /*grid-items*/

    .grid-items {
        background: #430a48;
        grid-area: grid-items;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        justify-items: center;
        display: grid;
    }

    .grilla {
        background-color: #f6e3f8;
        width: 100%;
        height: 32rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: #aeaaaa 1px solid;
        gap: 5px;
    }

    /* img */
    .grilla img {
        border: #565350 solid 1px;
        width: 18rem;
        height: 21rem;
        gap: 10px;
        border-radius: 10%;
        margin-top: 10px;
    }

    /* texto grilla*/
    .grilla p {
        color: #2b2929;
        font-weight: lighter;
    }

    .grilla h4 {
        color: #565350;
        font-weight: 800;

    }

    /* botón*/
    .btn {
        color: #e2c4e5;
        background: #981fa5;
        border-radius: 10%;
        width: 50%;
        padding: 0%;
    }

    .paginacion {
        margin: 20px;
        grid-area: paginacion;
        width: 80%;

    }

    .paginacion ul {
        list-style: none;
        text-align: center;
    }

    .paginacion ul li {
        display: inline-block;
        margin-right: 10px;
    }

    .paginacion ul li a {
        display: block;
        padding: 5px 10px;
        color: #fff;
        background: #560259;
        text-decoration: none;
    }

    .paginacion ul li a:hover {
        background: #8c035e;
    }

    .paginacion ul li .active {
        background: #9526c1;
        font-weight: bold;
    }


    .footer {
        grid-area: footer;
        font-weight: lighter;
        background-color: #250428;
        display: flex;
        color: #565350;
        align-items: center;
        justify-content: center;
    }

    .container {
        display: grid;
        grid-template-areas:
            "navbar section"
            "menu grid-items"
            "footer paginacion";
        grid-template-columns: 20% auto;
        grid-template-rows: 5% auto 5%;
        gap: 5px;

    }
}